<template>
  <div id="app">
    <rubrics/>
  </div>
</template>
<script>
import Rubrics from './components/Rubrics.vue'
export default {
  components: {
    Rubrics
  },
  data: () => ({
  })
}
</script>
<style lang="scss" scoped></style>
